<template>
  <div id="app">
    <v-app>
      <v-jumbotron class="color" style="" height="100%">
        <v-container grid-list-lg class="py-5">
          <router-view></router-view>
        </v-container>
      </v-jumbotron>
    </v-app>
  </div>
</template>

<script>
export default {};
</script>

<style>
/* #app {
  background-color: white !important;
} */
.color {
  background-color: #3e5151 !important;
  background: -webkit-linear-gradient(to top, #3e5151, #decba4);
  background: linear-gradient(to top, #3e5151, #decba4);
}
</style>
